<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
  <div class="container border rounded p-4 bg-light shadow" style="width: 45em;">
    <div class="mb-3">
      <%= f.label :title, class:"form-label" %></br>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="mb-4">
      <%= f.label :description, class:"form-label" %></br>
      <%= f.text_area :description, class:"form-control" %>
    </div>
    <%= f.submit class:"btn btn-success" %>
    <%= link_to "Cancel", articles_path, class:"btn btn-danger" %>
  </div>
<% end %>
