<h1 class="text-center mt-4 mb-4">Alpha Blog users</h1>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>


<div class="container d-flex align-items-center flex-column mt-2">
  <% @users.each do |u| %>
    <div class="card text-center shadow mb-5 bg-body rounded" style="width: 45em;">
      <div class="card-header fst-italic">
        <%= u.username %>
      </div>
      <div class="card-body">
        <%= gravatar_for u, size: 200 %>
        <div class="mt-2 mb-2"><%= pluralize(u.articles.count, "article") %></div>
        <%= link_to "View profile", user_path(u), class:"btn btn-outline-primary" %>
        <%= link_to "Edit profile", edit_user_path(u), class:"btn btn-outline-success" %>
      </div>
      <div class="card-footer text-muted">
        <small>
          Joined <%= time_ago_in_words(u.created_at) %> ago
        </small>
      </div>
    </div>
  <% end %>
</div>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>
